#waypoint-list li {
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
}

#waypoint-list li *:first-child,
#waypoint-list li *:last-child {
  color: #666666;
}

#waypoint-list li *:first-child:hover {
  cursor: grab;
}

#waypoint-list li *:nth-child(2) {
  flex: 1;
  margin: 0px 5px;
}