#app {
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

#open-sidebar-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1999;
  color: black;
  background: none;
  border: none;
  width: 20px;
}

#close-sidebar-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2001;
  color: #666666;
  background: none;
  border: none;
  width: 10px;
}

#sidebar-container {
  height: 100%;
  display: flex;
  width: 0px;
  max-width: 75%;
  flex-direction: column;
  background-color: #383838;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  transition: 0.5s;
  overflow: hidden;
}

#sidebar-container.opened {
  width: 320px;
}

@media (min-width: 576px) {
  #open-sidebar-container {
    display: none;
  }
  
  #close-sidebar-container {
    display: none;
  }

  #sidebar-container {
    width: 320px;
    max-width: 35%;
    position: relative;
  }
}

#app-title {
  margin: 15px;
  padding-bottom: 10px;
  border-bottom: 2px solid #666666;
}

@media (min-width: 576px) {
  #app-title {
    margin: 15px 15px 50px 15px;
  }
}

#map-container {
  height: 100%;
  flex: 1;
}