* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: sans-serif;
  font-size: 15px;
}

h1 {
  padding-bottom: 10px;
  border-bottom: 2px solid #666666;
  margin-bottom: 50px;
}

#app {
  display: flex;
  flex-direction: row;
}

#sidebar-container {
  width: 350px;
  display: flex;
  flex-direction: column;
  background-color: #383838;
  padding: 15px;
}

#map-container {
  flex: 1;
}